<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakoniaUI|Input</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="inputs.css">
</head>

<body>
    <div class="input-container">
        <label for="" class="input-label">Label</label>
        <input type="text" name="" id="" placeholder="Enter input text" class="input" />
        <label for="" class="input-label">Label</label>
        <input type="text" name="" id="" placeholder="Enter input text" class="input input-error" />
        <label for="" class="input-label">Label</label>
        <input type="text" name="" id="" placeholder="Enter input text" class="input input-success" />
    </div>
</body>

</html>