<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakoniaUI|Buttons</title>
    <script src="https://kit.fontawesome.com/3a0e01f91b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="buttons.css">
</head>

<body>
    <div class="container">
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-error">Secondary</button>
        <button class="btn btn-float"><i class="fa-solid fa-plus"></i>
        </button>
        <a class="btn btn-link" href="">Link</a>
        <button class="btn btn-icon">
            <i class="fa-solid fa-cart-shopping"></i><span> Add to Cart</span>
        </button>
    </div>
</body>

</html>