<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakoniaUI|Cards</title>
    <link rel="stylesheet" href="cards.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="cards.css">
</head>

<body>
    <div class="container">
        <div class="card">

            <img class="card-image" src="./images/2.jpg" alt="">

            <div class="card-header">
                <h2 class="card-title">Our changing Planet</h2>
                <h3 class="card-sub-title">By Kurt Wagner</h3>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>

        <div class="card card-with-badge">
            <p class="card-badge">Bestseller</p>

            <img class="card-image" src="./images/2.jpg" alt="">

            <div class="card-header">
                <h2 class="card-title">Our changing Planet</h2>
                <h3 class="card-sub-title">By Kurt Wagner</h3>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>

        <div class="card card-text-overlay">

            <img class="card-image" src="./images/2.jpg" alt="">

            <div class="card-header">
                <h2 class="card-title">Our changing Planet</h2>
                <h3 class="card-sub-title">By Kurt Wagner</h3>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>

        <div class="card card-shadow">

            <img class="card-image" src="./images/2.jpg" alt="">

            <div class="card-header">
                <h2 class="card-title">Our changing Planet</h2>
                <h3 class="card-sub-title">By Kurt Wagner</h3>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>

        <div class="card card-text-only">

            <img class="card-image" src="./images/2.jpg" alt="">

            <div class="card-header">
                <h2 class="card-title">Our changing Planet</h2>
                <h3 class="card-sub-title">By Kurt Wagner</h3>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>

        <div class="card card-with-dismiss">

            <div class="card-dismiss"> <img class="card-action-icon" src="./images/xmark-solid.svg" alt="close button">
            </div>

            <img class="card-image" src="./images/2.jpg" alt="">

            <div class="card-header">
                <h2 class="card-title">Our changing Planet</h2>
                <h3 class="card-sub-title">By Kurt Wagner</h3>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>

        <div class="card card-horizontal">



            <div class="card-header">
                <img class="card-image" src="./images/2.jpg" alt="">
                <div class="card-header-content">
                    <h2 class="card-title">Our changing Planet</h2>
                    <h3 class="card-sub-title">By Kurt Wagner</h3>
                </div>
            </div>

            <div class="card-body">
                <p>Visit ten places on our planet that are undergoing the biggest changes today.
                </p>
            </div>

            <div class="card-footer">

                <div class="card-action">
                    <button class="btn-card-action">READ</button>
                    <button class="btn-card-action">BOOKMARK</button>
                </div>

                <div class="card-action">
                    <img class="card-action-icon" src="./images/favorite_border_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/share_black_24dp.svg" />
                    <img class="card-action-icon" src="./images/more_vert_black_24dp.svg" />
                </div>

            </div>

        </div>


    </div>

</body>

</html>