:root {
    --nav-bg-color: #93C5FD;
    --nav-bg-color-hover: #65adff;
    --nav-btn-link-color: #93C5FD;
    --nav-btn-link-color-hover: #65adff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-container {
    width: 60rem;
    height: 45rem;
    border: 2px solid black;
    border-top: 0;
    overflow-y: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem;
    width: 100%;
    height: 8rem;
    background-color: var(--nav-bg-color);
}

.navigation-left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 1.6rem;
}

.btn-navbar {
    font-size: 2.4rem;
    padding: 0.8rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: 0;
}

.btn-navbar:hover {
    font-size: 2.4rem;
    padding: 0.8rem;
    cursor: pointer;
    background-color: var(--nav-bg-color-hover);
    border: none;
    outline: 0;
}

.brand-name {
    font-size: 2.4rem;
}

.navigation-right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    gap: 1.6rem;
}

.btn-navbar-link {
    background-color: var(--nav-btn-link-color);
    text-decoration: none;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0.8rem;
}

.btn-navbar-link:hover {
    background-color: var(--nav-btn-link-color-hover);
    text-decoration: none;
    font-size: 2.4rem;
    cursor: pointer;
}


.demo-text {
    font-size: 2.4rem;
    padding: 0 1.6rem;
}