<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakoniaUI|Navigation</title>
    <script src="https://kit.fontawesome.com/3a0e01f91b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="navigation.css">
</head>

<body>
    <div class="demo-container">
        <nav class="navigation">
            <div class="navigation-left-section">
                <button class="btn-navbar"><i class="fa-solid fa-bars"></i></button>
                <h1 class="brand-name">Standard</h1>
            </div>
            <div class="navigation-right-section">
                <a class="btn-navbar-link">Home</a>
                <button class="btn-navbar"><i class="fa-regular fa-bookmark"></i></button>
            </div>
        </nav>
        <p class="demo-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto iusto quaerat numquam,
            error doloribus
            delectus fuga voluptatum repellendus inventore, quod eum. Magni corrupti aut, maxime reprehenderit,
            voluptates eaque ex totam vel et aperiam accusamus nobis maiores dolores tenetur enim consequatur, officiis
            tempora? Similique cum laudantium ullam. Blanditiis ut hic repellendus non quis, maxime voluptatem illum
            nesciunt quos dolor necessitatibus esse sint a molestiae sequi natus, aperiam ratione ipsam incidunt quo.
            Animi praesentium iure nemo? Perferendis, quo ex blanditiis voluptates iusto fugiat at amet in, sapiente
            ipsam, ab explicabo neque. In, tenetur? Tenetur distinctio ipsum, adipisci unde quis nesciunt illum amet
            libero enim aliquam vel rerum molestias commodi laudantium cupiditate rem voluptatibus quo facilis nulla
            consequatur quidem! Quia, placeat excepturi! Debitis vero ab reiciendis! Fugit, aspernatur perferendis
            veniam, repudiandae dolores dignissimos dicta repellat ducimus exercitationem tempore minus est totam enim,
            omnis impedit sunt corporis consectetur numquam eligendi molestias ipsum. Vitae ducimus incidunt possimus
            illo illum, libero fugit rem amet iusto ipsa, nesciunt accusantium. Molestias quaerat veritatis totam cum!
            Impedit eos eum ea vel commodi tempore amet ipsa. Asperiores temporibus incidunt, nemo sapiente earum
            aliquid similique eos distinctio, magni aperiam repellat? Assumenda dicta soluta ad nemo, ipsum harum illum
            sed dolorem eum.</p>
    </div>
</body>

</html>