<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LakoniaUI|Badges</title>
    <script src="https://kit.fontawesome.com/3a0e01f91b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="badges.css">
</head>

<body>
    <div class="container">
        <div class="badge-icon-wrapper">
            <div class="icon-badge">
                <button class="btn-icon-badge">
                    <i class="fa-solid fa-bell"></i>
                </button>
                <div class="badge-notif">2</div>
            </div>
            <div class="icon-badge">
                <button class="btn-icon-badge">
                    <i class="fa-solid fa-envelope"></i>
                </button>
                <div class="badge-notif">2</div>
            </div>
            <div class="icon-badge">
                <button class="btn-icon-badge">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
                <div class="badge-notif">2</div>
            </div>
        </div>

        <div class="badge-avatar-wrapper">
            <div class="avatar-badge avatar-badge-l">
                <img src="https://i.pravatar.cc/300" alt="avatar image" class="avatar">
                <div class="badge-status badge-status-l busy"></div>
            </div>
            <div class="avatar-badge avatar-badge-m">
                <img src="https://i.pravatar.cc/300" alt="avatar image" class="avatar">
                <div class="badge-status badge-status-m online"></div>
            </div>
            <div class="avatar-badge avatar-badge-s">
                <img src="https://i.pravatar.cc/300" alt="avatar image" class="avatar">
                <div class="badge-status badge-status-s inactive"></div>
            </div>
        </div>
    </div>

</body>

</html>