@import url(../components.css);

body {
    display: block;
    min-height: 100vh;
}

.main-content {
    display: flex;
    min-height: 100vh;
}

.sidebar-content li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar-nav-links li {
    margin-top: 1rem;
    margin-left: 2rem;
}

.sidebar-nav-links li .btn {
    font-size: 1.6rem;
    width: 12rem;
    padding: 0.8rem;
}